body {
    padding-top: 5rem;
}

.container .profile {
    width: 500px;
    text-align: center;
    border-style:ridge;
    border-radius: 10px;
    margin: auto;

}

#user-profile{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 20px;
    padding: 3px;
}

#upper  {
    background-color: rgb(41, 105, 41);
    background: linear-gradient(to right, rgb(28, 178, 28), rgb(9, 156, 9));
    margin-bottom: 1px;
    padding-bottom: 5px;

}

#upper h1, #upper p {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    column-gap: 5px;
    padding: 5px;
}

li {
    list-style: none;
    display: inline;
}
#intro  {
    margin: auto;
    padding-left: 60px;
    padding-right: 60px;
    color: grey;
}
#posts, #following, #followers {
    color: black;
    font-weight: bold;
}
.grid-item:nth-child(4), .grid-item:nth-child(5), .grid-item:nth-child(6) {
    color: grey;
}
  
  
#follow {
    background-color: #80e604; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }